<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="icon" href="./assets/images/favicon-01.png" type="image/x-icon">
    <title>Secure Path - FAQs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/event.css">
    <link rel="stylesheet" href="./style/allstyle.css">
    <link rel="stylesheet" href="./style/FAQ.css">
</head>
<body>
  <div class="bg">
    <!-- Header -->
    <header class="main-header">
      <!-- Logo Section -->
      <div class="logo-container">
          <a href="index.html">
              <img style="background-size: cover;" src="./assets/images/Logo_Fire On Shield.png" alt="Organization Logo">
          </a>
      </div>

      <!-- Hamburger Icon for Mobile -->
      <div class="hamburger-menu" id="hamburger-menu">
        <i class="fas fa-bars"></i>
      </div>
      
      <!-- Navigation Links -->
      <nav class="navigation" id="nav-menu">
        <div class="close-menu" id="close-menu">
          <i class="fas fa-times"></i>
      </div>
          <ul class="navigation-links">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="course.html">Courses</a></li>
              <li><a href="price.html">Price</a></li>
              <li><a href="gallery.html">Help</a></li>
          </ul>
          <div class="action-buttons">
              <button class="button donate-button"><a href="./signIn.html">Login/ Sign Up</a></button>
          </div>
      </nav>
    </header>

    <!--Hero Section for Event-->
    <div class="all-hero-container">
        <div class="all-hero">
            <img  style="background-size: contain; overflow: hidden;"  src="./assets/images/bannerImages/FAQs2.webp" alt="Event Image" class="event-hero-img">
        </div>
    <!--Locator Div-->
    <div class="locator">
        <p>Home > Faqs</p>
    </div>
    </div>




<div class="accordion">
  <div class="faqheader">
    <div class="faqheading">
      Ask Anything With Us
    </div>
    <div class="faqsubheading">
      Frequently Asked Questions
    </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" onclick="toggleAccordion(this)">
          How to Create an Online Classroom

            <span class="sign">+</span>
        </div>
        <div class="accordion-content">
            <p>'Secure Path online classroom offers a secure & centralized way for you to assign quizzes & courses to your learners. For your learners, it means a single platform where they can access courses and view reports (including past scores), certificates, and more.</p>
            <ul>
                <li><strong>Step 1</strong>: On your <strong>Secure Path Training Maker</strong> dashboard, go to <strong>Classroom</strong>.</li>
                <li> <strong>Step 2</strong>: Click + <strong>New Classroom</strong>.</li>
                <li><strong> Step 3</strong>: Give a name to your classroom and click <strong>Add</strong>. Your classroom is now ready.</li>
                <li> <strong>Step 4</strong>: On the <strong>My Classroom</strong> screen, click <strong>Add Users</strong> to start adding learners to your classroom.</li>
                <li> <strong>Step 5</strong>: Add users to the box as instructed and click <strong>Next</strong>.</li>
              </ul>
        </div>
    </div>

    <div class="accordion-item">
        <div class="accordion-header" onclick="toggleAccordion(this)">
          How to Create an Online Quiz
            <span class="sign">+</span>
        </div>
        <div class="accordion-content">
              <p>To add a quiz to your course, choose <strong>"Quiz"</strong> from the <strong>"Add New"</strong> menu and select the quiz you want to embed. In case you haven't created a quiz yet, click the <strong>"+Add Quiz"</strong> button to create one.</p>
        </div>
    </div>

    <div class="accordion-item">
        <div class="accordion-header" onclick="toggleAccordion(this)">
          How to Add a PowerPoint Presentation to Your Course
            <span class="sign">+</span>
        </div>
        <div class="accordion-content">
            <p>You can add PowerPoint presentations to your chapters & pages. Let us take you through the process.</p>
            <h5><strong>Adding PPT to a Chapter</strong></h5>
            <ul>
              <li><strong>Step 1:</strong> Select a <strong>chapter</strong> from the left panel and click Change <strong>Media</strong>.</li>
              <li><strong>Step 2:</strong> In the overlay,</li>
              <li>Go to the <strong>Upload</strong> tab.</li>
              <li>Select <strong>Presentation</strong> and <strong>Upload</strong> your PPT file.</li>
              <p><em>You can upload from local or cloud storage, viz. Google Drive or Dropbox.</em></p>
              
            </ul>
        </div>
    </div>
    
    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
        Why can’t I upload documents or slides to a chapter?
          <span class="sign">+</span>
      </div>
      <div class="accordion-content">
          <p>Chapters are designed to organize your course, not hold content directly. To upload files like PDFs or presentations, add a page within the chapter. Only pages support file uploads and media integration.</p>
      </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-header" onclick="toggleAccordion(this)">
      Can I issue different certificates for different learning paths?
        <span class="sign">+</span>
    </div>
    <div class="accordion-content">
        <p>Not currently within one course, but you can split a path into separate short courses and assign unique certificates to each.</p>
    </div>
</div>

<div class="accordion-item">
  <div class="accordion-header" onclick="toggleAccordion(this)">
    Is there a way to track who downloaded their certificate?
    <span class="sign">+</span>
  </div>
  <div class="accordion-content">
      <p>Certificate downloads aren't tracked individually, but you can confirm course completion in the reports section.</p>
  </div>
</div>

<div class="accordion-item">
  <div class="accordion-header" onclick="toggleAccordion(this)">
    Do certificates expire?
      <span class="sign">+</span>
  </div>
  <div class="accordion-content">
    <p>Expiration isn't built into certificates, but you can display validity dates manually or trigger a follow-up course using automation when the certificate is about to expire.</p>
  </div>
</div>

<div class="accordion-item">
  <div class="accordion-header" onclick="toggleAccordion(this)">
    How do I prevent people from guessing their way through?
      <span class="sign">+</span>
  </div>
  <div class="accordion-content">
      <p>You can add retry limits, randomize questions, set timers, and even enable feedback suppression until all attempts are used.</p>
  </div>
</div>

<div class="accordion-item">
  <div class="accordion-header" onclick="toggleAccordion(this)">
    What if learners are in low-connectivity areas?
      <span class="sign">+</span>
  </div>
  <div class="accordion-content">
      <p>Some teams shorten quizzes and split modules, so users can attempt small chunks. For remote learners, this helps avoid starting over if their connection drops.</p>
  </div>
</div>
</div>

<script src="./scripts/faq.js"></script>
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- Footer Info Section -->
      <div class="footer-col">
        <img src="./assets/images/Logo_Fire On Shield.png" alt="Logo" class="footer-logo">
        <p>
          At Secure Path, we believe that software should make you happy. We are driven to create delightfully smart software with awesome human support so that you can work better, get smarter employees, and create happier customers.
        </p>
        <div class="social-links">
            <a href="https://www.facebook.com/navprayas.np/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/navprayas.np/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/@Navprayas2k00" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://in.linkedin.com/company/navprayas" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <!-- Contact Us Section -->
        <div class="footer-col">
          <h4>Contact Us</h4>
          <div class="contact">
            <div class="phone">
              <a href="tel: +919153223740" target="_blank"><i class="fa fa-phone"></i></a>
              <span> &nbsp;&nbsp;+91 12345-67890</span>
            </div>
            <div class="email">
              <a href="https://mail.google.com/mail/?view=cm&to=navprayas.np2000@gmail.com&su=Subject&body=Message" target="_blank"><i class="fa fa-envelope"></i></a>
              <span>&nbsp;&nbsp;Securepath@gmail.com</span>
            </div>
          </div>
        </div>

      <!-- Quick Links Section 1 -->
      <div class="footer-col">
        <h4>Key References</h4>
        <ul>
          <li><a href="privacypolicy.html">Privacy Policy</a></li>
          <li><a href="Certificate.html">Certificate</a></li>
          <li><a href="termscondition.html">Terms and Conditions</a></li>
        </ul>
      </div>

      <!-- Quick Links Section 2 -->
      <div class="footer-col">
        <h4>Important Links</h4>
        <ul>
          <li><a href="result.html">Result</a></li>
          <li><a href="suggestion.html">Suggestion</a></li>
          <li><a href="FAQ.html">FAQ</a></li>
          <!-- <li><a href="#">Resource</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright &copy;2025 by Secure Path. All Rights Reserved</p>
  </div>
</div>
<!-- Scroll to Top Button in the Footer -->
<div class="scroll-to-top-container">
  <button id="scrollToTopBtn" class="scroll-to-top-btn"><i class="fas fa-arrow-up"></i></button>
</div>

</div>
  <script src="./scripts/menuToggle.js"></script>
  <script src="./scripts/scroll.js"></script>
  </body>
  </html>
