<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
<meta name="description" content="Navprayas is dedicated to creating positive change through education, humanitarian initiatives, and social upliftment. Join us in our mission.">
  <meta name="keywords" content="Navprayas, Events, Education, Social Work, Humanitarian">
  <meta name="author" content="Navprayas">
  <link rel="canonical" href="https://navprayas.in/">
  <link rel="icon" href="./assets/images/bannerImages/favicon.png" type="image/x-icon">
    <title>Navprayas - Term and Conditions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/allstyle.css">
    <link rel="stylesheet" href="./style/team.css">
    <link rel="stylesheet" href="./style/terms.css">
</head>
<body>

  <div class="bg">
    <!-- Header -->
    <header class="main-header">
      <!-- Logo Section -->
      <div class="logo-container">
          <a href="index.html">
              <img src="./assets/images/logo-01.png" alt="Organization Logo">
          </a>
      </div>

      <!-- Hamburger Icon for Mobile -->
      <div class="hamburger-menu" id="hamburger-menu">
        <i class="fas fa-bars"></i>
      </div>
      
      <!-- Navigation Links -->
      <nav class="navigation" id="nav-menu">
        <div class="close-menu" id="close-menu">
          <i class="fas fa-times"></i>
      </div>
          <ul class="navigation-links">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="event.html">Events</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="gallery.html">Gallery</a></li>
          </ul>
          <div class="action-buttons">
              <button class="button donate-button">Donate</button>
              <button class="button notification-button">Notification</button>
          </div>
      </nav>
    </header>
  </div>
  <div class="termsbox">
    <h1 style="text-align: center;">Terms and Conditions</h1><br>
  
    <ol>
      <li>
        <h2>Acceptance of Terms</h2>
        <p>By accessing and using this website, you agree to comply with and be bound by the following terms and conditions. If you do not agree with any part of these terms, you must not use our website.</p>
      </li>
  
      <li>
        <h2>Use of Website</h2>
        <p>You undertake not to use the website for illegal activities or in any way that infringes on, restricts, or inhibits the use and enjoyment of this website by others. Harassing or causing distress to others, transmitting obscene or offensive content, or interfering with the natural flow of discourse on our website are all examples of prohibited activity.</p>
      </li>
  
      <li>
        <h2>Intellectual Property</h2>
        <p>All content, trademarks, and data on this website, including but not limited to text, graphics, logos, images, video clips, and software, are the property of Navprayas or its content suppliers. Unauthorized use or duplication of any materials without prior written consent is prohibited.</p>
      </li>
  
      <li>
        <h2>Limitation of Liability</h2>
        <p>We are not liable for any direct, indirect, incidental, consequential, or punishable damages arising from your use of or inability to use this website.</p>
      </li>
  
      <li>
        <h2>External Links</h2>
        <p>Our website may contain links to external websites. These links are provided for your convenience, and we are not responsible for the content, privacy policies, or practices of these external sites.</p>
      </li>
  
      <li>
        <h2>Privacy Policy</h2>
        <p>Review our Privacy Policy, which explains how we collect, use, and protect your personal information.</p>
      </li>
  
      <li>
        <h2>Modifications to Terms</h2>
        <p>We reserve the right to modify these Terms and Conditions from time to time. Changes will be effective immediately upon posting to this website. Your continued use of the website indicates your acceptance of any updated terms.</p>
      </li>
  
      <li>
        <h2>Governing Law</h2>
        <p>These Terms and Conditions are governed by and construed in accordance with the laws of India. Any disputes will be subject to the exclusive jurisdiction of the courts in India.</p>
      </li>
  
      <li>
        <h2>Contact Information</h2>
        <p>Got questions or feedback? Reach out:</p>
        <p><strong>Email:</strong> navprayas.np2000@gmail.com</p>
      </li>
    </ol>
  
  </div>
  


  
    <!-- footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- Footer Info Section -->
          <div class="footer-col">
            <img src="./assets/images/logo-01.png" alt="Logo" class="footer-logo">
            <p>
              Navprayas, established in 2000, promotes education, awareness, and humanitarian activities by bringing together students and professionals around society to create growth and positive change.
            </p>
            <div class="social-links">
              <a href="https://www.facebook.com/navprayas.np/"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/navprayas.np/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.youtube.com/@Navprayas2k00"><i class="fab fa-youtube"></i></a>
              <a href="https://in.linkedin.com/company/navprayas"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://whatsapp.com/channel/0029VbAgY9H9xVJX2uTCRz1v" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
    
          <!-- Contact Us Section -->
          <div class="footer-col">
            <h4>Contact Us</h4>
            <div class="contact">
              <div class="phone">
                <i class="fa fa-phone"></i>
                <span> &nbsp;&nbsp;+91 9153223740</span>
              </div>
              <div class="email">
                <i class="fa fa-envelope"></i>
                <span>&nbsp;&nbsp;navprayas.np2000@gmail.com</span>
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i>
                <span>&nbsp;&nbsp;Navprayas Office, 2<sup>nd</sup> Floor, Durga Asthan Market, Manpur Patwatoli, PO + PS Buniyadganj, Gaya-823003, Bihar, India</span>
              </div>
            </div>
          </div>
    
          <!-- Quick Links Section 1 -->
          <div class="footer-col">
            <h4>Key References</h4>
            <ul>
              <li><a href="privacypolicy.html">Privacy Policy</a></li>
              <li><a href="Certificate.html">Certificate</a></li>
              <li><a href="termscondition.html">Terms and Conditions</a></li>
            </ul>
          </div>
    
          <!-- Quick Links Section 2 -->
          <div class="footer-col">
            <h4>Important Links</h4>
            <ul>
              <li style="display: none;"><a href="donation.html">Donation</a></li>
              <li><a href="result.html">Result</a></li>
              <li><a href="suggestion.html">Suggestion</a></li>
              <li><a href="FAQ.html">FAQ</a></li>
              <!-- <li><a href="#">Resource</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright &copy;2024 by Navprayas. All Rights Reserved</p>
      </div>
    </div>
  <!-- Scroll to Top Button in the Footer -->
  <div class="scroll-to-top-container">
    <button id="scrollToTopBtn" class="scroll-to-top-btn"><i class="fas fa-arrow-up"></i></button>
  </div>
  
  </div>
  <script src="./scripts/menuToggle.js"></script>
  <script src="./scripts/scroll.js"></script>
  <script src="scroll.js"></script>
</body>